1) ¿qué imprime el siguiente programa? <br>
Intente escribir la salida a mano, luego compruebe ejecutando la celda.

In [1]:
for row in range(10):
    for column in range(10):
        print('<' if row % 2 == 1 else '>', end='')
    print()

>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<

no entiendo definitivamente el comando %

2) En el código de abajo, reemplace los *** para que cuando ejecute el código, muestre dos filas, cada una contiene siete @, como en:<br>
@@@@@@@<br>
@@@@@@@

In [31]:
for row in range(2):
    for column in range(7):
        print('@' if row % 2 == 1 else '@', end='')
    print()

@@@@@@@
@@@@@@@

3) Los choferes están preocupados con el rendimiento de sus vehículos. Un conductor ha mantenido un registro de varios tanques llenos de gasolina escribiendo los kilómetros recorridos y el consumo de gasolina. Desarrolle un programa que pida al usuario como entrada los kilómetros recorridos y el combustible utilizado. Su programa debe mostrar los kilómetros por litro de consumo. Luego de procesar toda la información, el script debe calcular y mostrar los kilómetros por litro combinado de todos los registros (esto es, total de kilómetros dividido por el total de litros usados).

`Ingrese los litros usados (-1 para salir): 12.8
Ingrese los kilómetros conducidos: 287
Los km/lt para ese recorrido fueron: 22.421875
Ingrese los litros usados (-1 para salir): 10.3
Ingrese los kilómetros conducidos: 200
Los km/lt para ese recorrido fueron: 19.417475
Ingrese los litros usados (-1 para salir): 5
Ingrese los kilómetros conducidos: 120
Los km/lt para ese recorrido fueron: 24.000000
Ingrese los litros usados (-1 para salir): -1
El promedio general km/lt fue 21.601423`

In [13]:
totalkm = 0 #para acumular los kilometros totales
totallt = 0 #para acumular los litros totales

totalviajes = input('Ingrese el total de viajes realizados')
n = int(totalviajes)

for i in range(n):
    
    litros = float(input('Ingrese los litros usados (-1 para salir)'))
    lt=int(litros)
    if lt > -1:
        kilometros = float(input('Ingrese los kilómteros conducidos'))
        rendimiento = kilometros/litros
        totalkm += kilometros
        totallt += litros
        print (f'Los km/lt para ese recorrido fueron: , {rendimiento:.6f}')
        print ('Ingrese el siguiente recorrido')
    
rendgral = totalkm/totallt
print (f'El rendimiento general km/lt fue de: , {rendgral:.6f}')

Ingrese el total de viajes realizados4
Ingrese los litros usados (-1 para salir)12.8
Ingrese los kilómteros conducidos287
Los km/lt para ese recorrido fueron: , 22.421875
Ingrese el siguiente recorrido
Ingrese los litros usados (-1 para salir)10.3
Ingrese los kilómteros conducidos200
Los km/lt para ese recorrido fueron: , 19.417476
Ingrese el siguiente recorrido
Ingrese los litros usados (-1 para salir)5
Ingrese los kilómteros conducidos120
Los km/lt para ese recorrido fueron: , 24.000000
Ingrese el siguiente recorrido
Ingrese los litros usados (-1 para salir)-1
El rendimiento general km/lt fue de: , 21.601423

4) Un palíndromo es un número, palabra o frase de texto que se lee de igual forma hacia atrás o hacia adelante. Por ejemplo, cada uno de los siguientes enteros de cinco dígitos es un palíndromo: 12321, 55555, 45554 y 11611. Escriba un script que lea un entero de cindo dígitos y determine cuando es un palíndromo. [HINT: use // y % para separar los números en sus dígitos.]

In [53]:
numero = 0 #define el valor
numero = int(input('Ingrese un número:  '))
n2 = numero//10000, (numero//1000)%10, (numero//100)%10, (numero//10)%10, numero%10
for i in n2:
    lista = range(n2)
    sorted (lista, reverse=True)
    print (lista)

Ingrese un número:  98765

TypeError: 'tuple' object cannot be interpreted as an integer

In [26]:
sorted?

5) El cálculo de factorial es común en probabilidades. El factorial de un entero no negativo $n$ se escribe $n!$ (se lee como "n factorial" o "factorial de n") y se define como:
$$n! = n\cdot(n-1)\cdot(n-1)\cdot...\cdot1$$
para los valores de $n$ mayores o iguales a 1, con $0!$ definido como 1. Entonces:
$$5! = 5\cdot4\cdot3\cdot2\cdot1$$
que es igual a 120. Los factoriales aumentan su tamaño muy rápidamente. Escriba un script que reciba un entero no negativo y calcule y muestre su factorial. Pruebe su script con los enteros 10, 20, 30 e incluso más grandes. ¿puedes encontrar un entero para el cual Python no puede calcular su factorial?

6) Escriba un script que calcule el valor de $\pi$ con la siguiente serie infinita. Imprima una tabla que muestre los valores de $\pi$ con un decimal, con dos decimales, con tres y así.<br>
$$\pi = 4 - \frac{4}{3}+\frac{4}{5}-\frac{4}{7}+\frac{4}{9}-\frac{4}{11}+\cdot\cdot\cdot$$

7) Use un ciclo para encontrar los dos valores más grandes de 10 números ingresados.

8) **Conversión binario-decimal** Ingrese un entero que contine ceros y unos (e.d. un entero binario) y muestre su decimal equivalente [sistema binario](https://es.wikipedia.org/wiki/Sistema_binario)

9) Calcule la media, la moda y la mediana de los valores 9, 11, 22, 34, 17, 22, 34, 22 y 40. Luego, suponga que los valores incluyen otro 34. ¿qué problema puede ocurrir?