In [1]:
#lista vacía
[]

[]

In [2]:
type([])

list

In [3]:
bool([])

False

In [6]:
c = [2,3,45]

In [7]:
l = ['hola', 5, 4.56, [1,2,3]]

In [9]:
type(l)

list

In [13]:
#   c[0] c[1] c[2] c[3] c[4]
c = [5,  10,  15,  20,  25]
#   c[-5] c[-4] c[-3] c[-2]c[-1]

In [12]:
c[2]

15

In [14]:
c[4]

25

In [15]:
c[1] == c[-4]

True

In [18]:
c[1+2]

20

In [19]:
s = "hola"

In [20]:
s[2]

'l'

In [21]:
s[-4]

'h'

In [22]:
n = "12345"

In [26]:
for i in n:
    print(int(i), end="   ")

1   2   3   4   5

In [28]:
n[5]

IndexError: string index out of range

In [29]:
c[0] + c[1] + c[2]

30

In [30]:
s[0]+s[3]

'ha'

In [31]:
[1,2,3] + ['h', 'o']

[1, 2, 3, 'h', 'o']

In [34]:
lista = []
for i in range(1,6):
    lista += [i] # lista = []+[1], lista = [1]+[2] = [1,2]

In [35]:
lista

[1, 2, 3, 4, 5]

In [36]:
letras = []
letras += "PYTHON"
letras

['P', 'Y', 'T', 'H', 'O', 'N']

In [37]:
nueva_lista = lista + letras

In [38]:
nueva_lista

[1, 2, 3, 4, 5, 'P', 'Y', 'T', 'H', 'O', 'N']

In [40]:
for i in nueva_lista:
    print(i)

1
2
3
4
5
P
Y
T
H
O
N

In [42]:
range(len(nueva_lista))

range(0, 11)

In [43]:
for i in range(len(nueva_lista)):
    print(i,":", nueva_lista[i])

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : P
6 : Y
7 : T
8 : H
9 : O
10 : N

In [51]:
def cubo(lista):
    for i in range(len(lista)):
        lista[i] **= 3
        print(i)
    return lista

In [52]:
l = [1,2,3,4,5]
l = cubo(l)

0
1
2
3
4

In [50]:
l

[1, 8, 27, 64, 125]

# métodos de list

In [57]:
lista

[1, 2, 3, 4, 5]

In [58]:
lista.append(100)

In [62]:
lista.append(5)

In [65]:
lista

[1, 2, 3, 4, 5, 100, 5]

In [63]:
lista.count(5)

2

In [67]:
lista.insert(2,"hola")

In [68]:
lista

[1, 2, 'hola', 3, 4, 5, 100, 5]

In [69]:
lista.pop()

5

In [70]:
lista

[1, 2, 'hola', 3, 4, 5, 100]

In [71]:
lista.remove(2)

In [72]:
lista

[1, 'hola', 3, 4, 5, 100]

In [82]:
lista[2] = "mundo"

In [83]:
lista

[1, 'hola', 'mundo', 4, 5, 100]

# TUPLAS

In [73]:
()

()

In [74]:
type(())

tuple

In [75]:
bool(())

False

In [76]:
tupla = (1,2,3,4,5)

In [77]:
tupla

(1, 2, 3, 4, 5)

In [78]:
tupla2 = 4,5,6,7

In [80]:
tupla

(1, 2, 3, 4, 5)

In [81]:
tuple?

In [86]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [87]:
list((1,2,3,4))

[1, 2, 3, 4]

In [88]:
lista

[1, 'hola', 'mundo', 4, 5, 100]

In [89]:
tuple(lista)

(1, 'hola', 'mundo', 4, 5, 100)

In [90]:
len(tupla2)

4

In [91]:
len(lista)

6

In [92]:
tupla[4] + tupla[0]

6

In [93]:
t = 3,4

In [94]:
t

(3, 4)

In [95]:
def ant_suc(n):
    return n-1, n+1

In [97]:
a, b = ant_suc(10)

In [100]:
type(a)

int

In [99]:
b

11

In [101]:
type(ant_suc(10))

tuple

In [110]:
l = [1,2,3]
l+=(6,7,8)

In [105]:
l

[1, 2, 3, 6, 7, 8]

In [106]:
l = [12,13,(1,2)]

In [107]:
l

[12, 13, (1, 2)]

In [108]:
l[2]

(1, 2)

In [109]:
l

[12, 13, (1, 2)]

In [112]:
l

[1, 2, 3, 6, 7, 8]

In [117]:
for i,v in enumerate(l):
    print(i,"->",v)

0 -> 1
1 -> 2
2 -> 3
3 -> 6
4 -> 7
5 -> 8

In [115]:
list(enumerate(l))

[(0, 1), (1, 2), (2, 3), (3, 6), (4, 7), (5, 8)]

In [120]:
colores = ['rojo', 'verde', 'azul', 'negro']
for i,v in enumerate(colores):
    print(i+1,v)

1 rojo
2 verde
3 azul
4 negro

In [121]:
'hola'*4

'holaholaholahola'

In [122]:
[1,2,3,4]*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [123]:
(5,6,7)*5

(5, 6, 7, 5, 6, 7, 5, 6, 7, 5, 6, 7, 5, 6, 7)

In [126]:
numbers = [19, 3, 15, 7, 11]
print("indice  valor     barra")
for indice, valor in enumerate(numbers):
    print(indice,"\t", valor,"\t", "*"*valor)

indice  valor     barra
0 	 19 	 *******************
1 	 3 	 ***
2 	 15 	 ***************
3 	 7 	 *******
4 	 11 	 ***********

# slicing

In [128]:
# [init : end : salto]

In [129]:
lista

[1, 'hola', 'mundo', 4, 5, 100]

In [130]:
lista[1:4]

['hola', 'mundo', 4]

In [131]:
lista[:3]

[1, 'hola', 'mundo']

In [132]:
lista[3:]

[4, 5, 100]

In [134]:
lista[::2]

[1, 'mundo', 5]

In [135]:
lista[::-1]

[100, 5, 4, 'mundo', 'hola', 1]

In [142]:
l = [6,3,8,4,11, 9]

In [139]:
l.sort()

In [140]:
l

[3, 4, 6, 8, 9, 11]

In [141]:
l[::-1]

[11, 9, 8, 6, 4, 3]

In [143]:
l.sort(reverse=True)

In [145]:
l.sort?

In [148]:
l1 = list(range(1,10))

In [149]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [150]:
del l1[2]

In [151]:
l1

[1, 2, 4, 5, 6, 7, 8, 9]

Object `del` not found.

In [155]:
del l1[4:6]

In [156]:
l1

[1, 2, 4, 5, 8, 9]

In [157]:
del l1

In [158]:
l1

NameError: name 'l1' is not defined

In [160]:
sorted("gltojdneirot")

['d', 'e', 'g', 'i', 'j', 'l', 'n', 'o', 'o', 'r', 't', 't']

In [162]:
sorted([6,5,4,3,7,8,9])

[3, 4, 5, 6, 7, 8, 9]

In [163]:
l

[11, 9, 8, 6, 4, 3]

In [165]:
l.index(11)

0

In [166]:
10 in l

False

In [167]:
3 in l

True

In [169]:
l = [i for i in "hola como estás"]

In [170]:
l

['h', 'o', 'l', 'a', ' ', 'c', 'o', 'm', 'o', ' ', 'e', 's', 't', 'á', 's']

In [171]:
l2 = [x for x in range(5,18)]

In [172]:
l2

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [175]:
l2 = [x for x in range(18) if x%2!=0]

In [176]:
l2

[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [177]:
0%2==0

True

In [178]:
cubos = [(j, j**3) for j in range(10)]

In [179]:
cubos

[(0, 0),
 (1, 1),
 (2, 8),
 (3, 27),
 (4, 64),
 (5, 125),
 (6, 216),
 (7, 343),
 (8, 512),
 (9, 729)]