In [1]:
a = [ ]
print (a)

[]

In [2]:
type (a)

list

In [3]:
bool (a)

False

In [5]:
c = [1,2,3,4,5]
l = ['Pedro', 'Juan', 'Diego', 'Alberto', 'Hans']
type (l)

list

In [8]:
c[2],l[2]

(3, 'Diego')

In [9]:
l = "Pedro, Juan, Diego, Alberto, Hans"
type (l)

str

In [31]:
lista = []
for i in range (0,10,2):
    lista += [i]
print (lista, end='')
type (lista)

[0, 2, 4, 6, 8]

list

In [33]:
letras = []
letras += 'PYTHON'
print (letras)

['P', 'Y', 'T', 'H', 'O', 'N']

In [35]:
nueva_lista = []
nueva_lista = letras + lista
nueva_lista

['P', 'Y', 'T', 'H', 'O', 'N', 0, 2, 4, 6, 8]

In [37]:
for i in nueva_lista:
    print (i, end=' * ')

P * Y * T * H * O * N * 0 * 2 * 4 * 6 * 8 *

In [38]:
range (len(nueva_lista))

range(0, 11)

In [46]:
for i in range(len(nueva_lista)):
    print(i,':',nueva_lista[i])

0 : P
1 : Y
2 : T
3 : H
4 : O
5 : N
6 : 0
7 : 2
8 : 4
9 : 6
10 : 8

In [53]:
def cubo(lista):
    for i in range(len(lista)):
        lista[i] **= 3
        print (i)
    return lista

In [54]:
listaprueba = [1,2,3,4,5,6]
listaprueba = cubo(listaprueba)
listaprueba

0
1
2
3
4
5

[1, 8, 27, 64, 125, 216]

In [58]:
def suma(lista):  
    for i in range(len(lista)):
        lista[i] += i  #Suma la posición i a la lista
        print (i)
    return lista

In [60]:
lista_prueba = suma(listaprueba)
lista_prueba

0
1
2
3
4
5

[1, 11, 33, 73, 137, 231]

In [73]:
lista = ['a','b','c','d','a','f','g','a','i']
lista

['a', 'b', 'c', 'd', 'a', 'f', 'g', 'a', 'i']

In [75]:
lista.count('a')

3

In [76]:
lista = [1,2,3,4,5,6,3,2,5,8,9]
lista

[1, 2, 3, 4, 5, 6, 3, 2, 5, 8, 9]

In [77]:
lista.count(3)

2

In [80]:
lista.append(4)
lista

[1, 2, 3, 4, 5, 6, 3, 2, 5, 8, 9, 4, 4]

In [81]:
lista.pop(2)  # elimina el índice 2 de la lista
lista

[1, 2, 4, 5, 6, 3, 2, 5, 8, 9, 4, 4]

In [83]:
lista.append('hola')
lista

[1, 2, 4, 5, 6, 3, 2, 5, 8, 9, 4, 4, 'hola']

In [84]:
lista.pop()
lista

[1, 2, 4, 5, 6, 3, 2, 5, 8, 9, 4, 4]

In [85]:
def ant_suc(n):
    return(n-1,n+1)

In [90]:
n = ant_suc(545)
n

(544, 546)

In [95]:
def multiplo2(n):
    return(n*2)

In [96]:
n = multiplo2(3)
n

6

In [98]:
tmult = (1,2,3,4,5)
tmult = multiplo2(tmult)
print (tmult)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [111]:
l = 1,2,3,4,3
for i,v in enumerate(l):
    print(i,'=>',v)

0 => 1
1 => 2
2 => 3
3 => 4
4 => 3

In [107]:
enumerate?

In [112]:
list(enumerate(l))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 3)]

In [119]:
numeros = [10,9,8,7,6,5,4,3,2,1]
for i,v in enumerate(numeros):
    print(i,'*'*v, left)

NameError: name 'left' is not defined